@import "variables";
@import "breakpoints";

@mixin border(){
 border-top-style: groove;
 border-bottom-style: groove;
 border-width: thin;
 border-color: $aquaWhite;
}

@mixin flex($flexDir: row, $justify: space-between, $align: center, $flow: row, $wrap: wrap) {
 display: flex;
 flex-flow: $flow ;
 flex-direction: $flexDir;
 justify-content: $justify;
 align-items: $align;
 flex-wrap: $wrap;
}

@mixin slideBefore(){
 opacity: 0;
 transform: translateY(70px);
 transition: all 2s ease-out;
}

@mixin slideEnter() {
 opacity: 1;
 transform: translateY(0px);
}

@mixin sm {
 @media (min-width: #{$screen-sm-min}) {
  @content;
 }
}

@mixin md {
 @media (min-width: #{$screen-md-min}) {
  @content;
 }
}

@mixin lg {
 @media (min-width: #{$screen-lg-min}) {
  @content;
 }
}

@mixin xl {
 @media (min-width: #{$screen-xl-min}) {
  @content;
 }
}
