$font-stack: 'Play', sans-serif;
$font-size: 16px;
$black: black;
$mainBg: #0e0e0e;
$boxBg: #1B1B1B;
$boxBorder: 3px #171717 solid;
$boxShadow: 0 0 15px 1px rgba(0,0,0,1);
$aquaWhite: #ABB4D3;
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

